<!DOCTYPE html>
<html>
<head>
    <title>Welcome to my website</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Welcome to rock</h1>

    <p>message</p>

</body>
</html>

